@page {
    size: A4;
    margin-top: 2.5cm;
    margin-bottom: 2.5cm;
    border: 1px solid #000;
    max-width: 21cm;
}

body {
    padding-left: 2.5cm !important;
    padding-right: 2.5cm !important;
    background-color: #fff;
}

a.headerlink {
    color: #fff !important;
    display: none !important;
}

.admonition-todo ul {
    display: none;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: black !important;
    text-decoration: none !important;
}

